# 01
transformers
gradio
# --index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

# 02
youtube-transcript-api

# 03
openpyxl
pandas
matplotlib

#04
timm

streamlit


#05
espeak
phonemizer

# 06
flask

# 07
langchain
langchain-community
langchain-core